body > * {
  padding-left: calc(var(--grid-gutter) / 2);
  padding-right: calc(var(--grid-gutter) / 2);

  margin-left: auto;
  margin-right: auto;

  width: 100%;
  max-width: var(--grid-width);
}

@media (min-width: 576px) {
  body > * {
    display: grid;
    grid-template-columns: repeat(
      var(--grid-column),
      calc(var(--grid-width) / var(--grid-column) - var(--grid-gutter))
    );
    grid-column-gap: var(--grid-gutter);
  }
}

main {
  grid-column: 1/13;
}

section {
  background: var(--color-background);
  padding-top: 10rem;
  padding-bottom: 10rem;

  margin-left: calc(0px - (50vw - 50%));
  margin-right: calc(0px - (50vw - 50%));

  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

@media (min-width: 576px) {
  section {
    display: grid;
    grid-template-columns: repeat(
      var(--grid-column),
      calc(var(--grid-width) / var(--grid-column) - var(--grid-gutter))
    );
    grid-column-gap: var(--grid-gutter);
  }
}
