.grid {
  padding-top: 4vh;
  padding-bottom: 4vh;

  margin-left: calc(0px - (50vw - 50%));
  margin-right: calc(0px - (50vw - 50%));

  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);

  grid-column: 1/2;
}

@media (min-width: 576px) {
  .grid {
    padding-top: 10vh;
    padding-bottom: 10vh;

    display: grid;
    grid-template-columns: repeat(
      var(--grid-column),
      calc(var(--grid-width) / var(--grid-column) - var(--grid-gutter))
    );
    grid-column-gap: var(--grid-gutter);

    grid-column: 1/7;
  }

  .grid + .grid {
    margin-bottom: -10vh;
  }

  .grid:last-child:not(:only-child) {
    padding-bottom: 10vh;
  }
}

@media (min-width: 769px) {
  .grid {
    grid-column: 1/13;
  }
}

.container {
  padding-left: calc(var(--grid-gutter) / 2);
  padding-right: calc(var(--grid-gutter) / 2);

  margin-left: auto;
  margin-right: auto;

  padding-top: 0;
  padding-bottom: 0;

  width: 100%;
  max-width: var(--grid-width);
}
