.divider {
  grid-column: 1/13;
  border-top: 1px solid #ffffff40;
}

.title {
  grid-column: 1/6;
}

.social {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  position: relative;

  grid-column: 6/13;
}

.social a,
.social img {
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  display: inline-block;
}

.social a {
  margin-left: 2em;
  transition: opacity 200ms ease-in-out;
}

.social a:hover {
  opacity: 0.7;
}

.scrollToTop {
  color: transparent;
  transition: opacity 200ms ease-in-out;
  opacity: 0.7;

  width: 1.4em;
  height: 1.4em;

  border-top: 1px solid #fff;
  border-right: 1px solid #fff;

  transform: rotate(-45deg);

  position: absolute;
  right: 0.5em;
  bottom: 30%;
}

.scrollToTop:hover {
  opacity: 1;
}
