body {
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

strong {
  font-weight: normal;
  color: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
