html,
body {
  font-size: 16px;
  color: var(--color-0);
  line-height: 1.75;
  font-family: var(--sans-serif);
  font-weight: normal;
}

.text-highlight {
  background: none;
  cursor: pointer;

  font-size: var(--text-size-small);
  line-height: 1.43;
  font-weight: 400;

  color: var(--color-brand);

  display: inline-flex;
  align-items: center;
  gap: 0.3em;

  & svg {
    transform: translateY(0.5px);
  }

  &:hover {
    opacity: 0.7;
  }
}

.text-large {
  font-family: var(--serif);
  font-weight: 400;
  font-size: var(--text-size-large);

  line-height: 1.4;

  position: relative;
  text-wrap: balance;
}

.text-medium {
  font-size: var(--text-size-base);
  font-weight: 500;
}

.text-base {
  font-size: var(--text-size-base);
  font-weight: 400;
}

.text-small {
  font-size: var(--text-size-small);
}

.text-content p {
  line-height: 1.75;
  margin-bottom: var(--unit);
}
