:root {
  /* Spacing */
  --unit: 1rem;
  --body-gap: calc(var(--unit) * 8);

  /* Colors */
  --surface-0: #202020;
  --surface-1: #646464;
  --surface-2: #838383;
  --surface-3: #e8e8e8; /* Border */
  --surface-4: #f9f9f9; /* Low background */
  --color-brand: #003dee;

  /* Types */
  --text-size-xlarge: calc(var(--unit) * 1.5);
  --text-size-large: calc(var(--unit) * 1);
  --text-size-base: var(--unit);
  --text-size-small: calc(var(--unit) * 0.75);

  /* Font-family */
  --serif: "Merriweather", serif;
  --sans-serif: "Inter", sans-serif;

  /* Misc */
  --transition: 0.2s ease;
  --radius: calc(var(--unit) * 0.5);
}

@media screen and (min-width: 800px) {
  :root {
    --text-size-xlarge: calc(var(--unit) * 2);
    --text-size-large: calc(var(--unit) * 1.5);
  }
}

html,
body {
  font-size: 16px;
  color: var(--surface-0);
  line-height: 1.43;
  font-family: var(--sans-serif);
  font-weight: normal;
  scroll-behavior: smooth;
  image-rendering: -webkit-optimize-contrast;
}

.type_main {
  font-size: var(--text-size-xlarge);
  line-height: 1.4;
  font-family: var(--serif);
  font-weight: normal;
  position: relative;
}

.type_sub {
  font-size: var(--text-size-large);
  line-height: 1.5;
  font-weight: normal;
}

.type_headline {
  font-size: var(--text-size-base);
  font-family: var(--sans-serif);
  font-weight: 500;
}

.type_content {
  color: var(--surface-1);
  line-height: 1.75;
}

.type_content p {
  margin-bottom: var(--unit);
}

.type_footnote {
  font-size: var(--text-size-small);
  line-height: 1.43;
  font-weight: normal;
}

.surface-0 {
  color: var(--surface-0);
}

.surface-1 {
  color: var(--surface-1);
}

.surface-2 {
  color: var(--surface-2);
}

.surface-3 {
  color: var(--surface-2);
}

.color-brand {
  color: var(--color-brand);
}
