:root {
  /* Spacing */
  --unit: 1rem;
  --body-gap: calc(var(--unit) * 8);

  /* Colors */
  --color-0: #202020;
  --color-1: #646464;
  --color-2: #838383;
  --color-3: #e8e8e8; /* Border */
  --color-4: #f9f9f9; /* Low background */
  --color-brand: #003dee;

  /* Types */
  --text-size-large: calc(var(--unit) * 1.4);
  --text-size-base: var(--unit);
  --text-size-small: calc(var(--unit) * 0.8);

  /* Font-family */
  --serif: "Nokora", serif;
  --sans-serif: "Inter", sans-serif;

  /* Misc */
  --transition: 0.2s ease;
  --radius: calc(var(--unit) * 0.5);

  --shadow: rgba(232, 232, 232, 0.7) 0px 1px 5px -4px,
    rgba(10, 50, 70, 0.08) 0px 0px 0px 1px,
    rgba(10, 50, 70, 0.05) 0px 4px 8px 0px;
}

@media screen and (min-width: 800px) {
  :root {
    --text-size-large: calc(var(--unit) * 2);
  }
}
