@import "./_reset.css";
@import "./_vars.css";

/* Components */
@import "./_grid.css";

/* body {
  background: #f2cda4;
}

.grid {
  position: relative;
}

.container {
  background: #c9debb;
}

.container.grid:before,
.container.grid:after {
  content: "";
  display: block;
  background: #9593dd;
  width: var(--unit);
  position: absolute;
  margin: 0;
  top: calc(var(--unit) * 8);
  bottom: calc(var(--unit) * 1);
  outline: 1px dashed #7528ca;
  z-index: 999;

  background: repeating-linear-gradient(
      45deg,
      #8762d4 0px,
      #8762d4 1px,
      transparent 1px,
      transparent 9px
    )
    #9693de !important;
}

.container.grid:before {
  left: calc(100% / 2.97 - var(--unit) / 2) !important;
}

.container.grid:after {
  left: calc((100% / 3) * 2 - var(--unit) / 2) !important;
}

.headroom {
  display: none !important;
}

.footer,
.hero,
.section {
  outline: 1px dashed #7528ca;
  background: #a8c4e4 !important;
  position: relative;
}

.section:after {
  content: "";
  display: block;
  background: #9593dd;
  height: var(--unit);
  bottom: calc(var(--unit) * -1);
  position: absolute;
  left: 0;
  right: 0;
  outline: 1px dashed #7528ca;
  z-index: 999;

  background: repeating-linear-gradient(
      45deg,
      #8762d4 0px,
      #8762d4 1px,
      transparent 1px,
      transparent 9px
    )
    #9693de !important;
} */
