.sandbox-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 3);
}

.sandbox-details {
  display: flex;
  margin: calc(var(--unit)) 0;
  gap: calc(var(--unit) * 0.5);
  flex-direction: column;
}

.sandbox-details__content {
  flex: 1;
  display: flex;
  font-size: var(--text-size-base);
}

.sandbox-details__title {
  font-weight: 500;
  flex: 1;
}

.sandbox-details__cta [data-open="true"] svg {
  transform: rotate(180deg) translate(0, -1px);
}

/**
 * Sandpack
 */
.sp-layout {
  --sp-border-radius: var(--radius);
  /* --sp-colors-color1: var(--color-4); */
  --sp-colors-color2: var(--color-3);
  --sp-colors-color3: var(--color-4);
  --sp-colors-base: var(--color-1);

  --sp-colors-clickable: var(--color-0);
  --sp-colors-hover: var(--color-1);
  --sp-colors-accent: var(--color-brand);

  /* syntax */
  --sp-syntax-color-tag: var(--color-brand);
  --sp-syntax-color-string: var(--color-brand);
  --sp-syntax-color-static: var(--color-brand);

  --sp-syntax-color-definition: #0e2b81;
  --sp-syntax-color-keyword: #466bda;

  --sp-syntax-color-property: var(--color-0);
  --sp-syntax-color-plain: var(--color-1);
  --sp-syntax-color-punctuation: var(--color-2);
}
