---
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Cards from "../components/Cards.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";
import List from "../components/List.astro";
import UIGallery from "../components/UIGallery.astro";

const blogsMd = await Astro.glob("./blog/*.md");
const contentMd = await Astro.glob("../content/*.md");

const content = [...blogsMd, ...contentMd]
  .sort((a, b) => {
    const dateA = new Date(a?.frontmatter.date ?? "").getTime();
    const dateB = new Date(b?.frontmatter.date ?? "").getTime();

    return dateB - dateA;
  })
  .filter((item) => item.frontmatter.enabled !== false);

const projects = content
  .filter(({ frontmatter }) => frontmatter.type === "project")
  .sort((a, b) => a.frontmatter.order - b.frontmatter.order);

const articles = content.filter(
  ({ frontmatter }) => frontmatter.type === "article"
);
---

<html lang="en">
  <head>
    <MainHead />
  </head>

  <body>
    <main class="container grid">
      <Hero />



      <Section title="Writing">
        <List data={articles} />
      </Section>

      <Section title="UI garden">
        <UIGallery />
      </Section>

      <Section title="Projects">
        <Cards data={projects} />
      </Section>


      <About />

      <Footer />
    </main>
    <style lang="scss">
      .grid {
        position: relative;
        z-index: 1;
        padding-top: calc(var(--unit) * 1);
        padding-bottom: calc(var(--unit) * 1);
      }

      @media screen and (min-width: 800px) {
        .grid {
          padding-top: calc(var(--unit) * 8);
        }
      }
    </style>
  </body>
</html>
