---
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";

const blogsMd = await Astro.glob("./blog/*.md");
const allData = blogsMd.sort((a, b) => {
  const dateA = new Date(a?.frontmatter.date ?? "").getTime();
  const dateB = new Date(b?.frontmatter.date ?? "").getTime();

  return dateB - dateA;
});

const contentMd = await Astro.glob("../content/*.md");
const projects = contentMd.sort((a, b) => {
  if (a.order < b.order) {
    return -1;
  }
  if (a.order > b.order) {
    return 1;
  }
  return 0;
});

const articles = allData.filter(
  ({ frontmatter }) => frontmatter.type === "article"
);
const experiments = allData.filter(
  ({ frontmatter }) => frontmatter.type === "experiments"
);
---

<html lang="en">
  <head>
    <MainHead />
  </head>

  <body>
    <main class="container grid">
      <Hero />

      <Section title="Writing" data={articles} />
      <Section title="Experiments" data={experiments} vertical />
      <Section title="Projects" data={projects} />

      <About />

      <Footer />
    </main>
    <style lang="scss">
      .grid {
        position: relative;
        z-index: 1;
        padding-top: calc(var(--unit) * 1);
        padding-bottom: calc(var(--unit) * 1);
      }

      @media screen and (min-width: 800px) {
        .grid {
          padding-top: calc(var(--unit) * 8);
        }
      }
    </style>
  </body>
</html>
