<section class="section grid" id="about-me">
  <div class="about_img">
    <img src="/images/cover.jpg" />
  </div>
  <article>
    <h2 class="text-large">About me</h2>

    <div class="text-content color-1">
      <p>
        Hey, my name is Danilo Woznica. I’m from a small town in the south of
        Brazil where I was brought up, and now I live in one of the best places
        to be a wine lover - have you tried a great bottle of Portuguese wine?
      </p>

      <p>
        It took me a while to realize that design is everywhere. No matter where
        you look, how you feel or interact, everything aims to solve a problem
        and has purposes, regardless if these things came from nature or were
        manufactured. With these ideas in my mind, I made my way into Design
        college back in 2012, which was mostly focused on product design, and
        since then I’ve been trying to introduce most of the concepts from the
        design process to different areas of my professional life, as much as I
        can.
      </p>

      <p>
        In my early coding career, which started in mid 2010, I realized that at
        some level I could find the same problems both in conceptual design and
        digital products. Thanks to many friends, I was introduced to the
        ReactJs community, where I found many opportunities to improve the way
        we interact with web applications, and as a result, I could narrow the
        gap between the effort of building solid applications with a great user
        experience. These challenges have helped me shape the necessary skills
        to become a front-end developer driven by problems to be solved.
      </p>

      <p>
        This journey brought me to CodeSandbox, where I’m proud that my work
        gets to many developers and it makes their life easier, providing a
        remarkable experience to express their own ideas through coding, and
        making products more enjoyable. Furthermore,
        <strong
          >the kinds of challenges I face every day make me go beyond what
          inspires me and make me not only solve problems but empower users to
          solve their problems themselves.</strong
        >
      </p>
    </div>
  </article>
</section>

<style lang="scss">
  .about_img {
    display: none;
    @media screen and (min-width: 800px) {
      display: block;
      grid-column: 1/2;

      img {
        width: 100%;
        margin-left: calc(-2 * var(--unit));
      }
    }
  }

  .section {
    grid-column: 1/4;
    padding-top: var(--body-gap);
    padding-bottom: var(--body-gap);
    position: relative;
  }

  article {
    grid-column: 2/4;
  }

  .text-large {
    margin-bottom: calc(var(--unit) * 2);
  }

  .section:before,
  .text-large:before {
    content: "";
    display: block;

    position: sticky;

    top: calc(var(--unit) * 1);
    margin-bottom: calc(var(--unit) * -1.8);
    margin-left: calc(var(--unit) * -1.2);
    width: calc(var(--unit) * 2);
    height: calc(var(--unit) * 2);

    background-image: url("/assets/semicol.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .section:before {
    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  .text-large:before {
    display: none;

    @media screen and (min-width: 800px) {
      position: absolute;
      display: block;
      background-position: right center;

      margin: 0;

      top: calc(var(--unit) * 0.2);
      left: calc(var(--unit) * -3);
      width: calc(var(--unit) * 2);
      height: calc(var(--unit) * 2);
    }
  }
</style>
