<section class="section grid" id="about-me">
  <div class="about_img">
    <img src="/images/cover.jpg" />
  </div>
  <article>
    <h2 class="text-large">About me</h2>

    <div class="text-content color-1">
      <ul>
        <li>
          <strong class="text-medium">I see code as a tool for design.</strong> What
          I build is meant to solve real users' problems, and I will strive for the
          best solution and the most polished experience. I'm a coworker on the design
          team.
        </li>
        <li>
          <strong class="text-medium">I'm a self-starter.</strong> The unknown doesn't
          hold me back. I can find my way through the uncertainty and then set priorities
          and stay focused. Independent worker.
        </li>
        <li>
          <strong class="text-medium">I'm a fast-paced problem-solver.</strong> In
          challenging moments, I can wear as many hats as needed. There are moments
          when the job just needs to get done.
        </li>
        <li>
          <strong class="text-medium">I'm obsessed with the unknown.</strong> I like
          engaging in activities that require me to dive deep into the uncertainty,
          from small details to big issues.
        </li>
        <li>
          <strong class="text-medium">I have an outstanding curiosity.</strong> I
          always strive to learn more and understand the exotic, the undiscovered,
          or the unmapped.
        </li>
        <li>
          <strong class="text-medium"
            >I want you to be involved in my creation process.</strong
          > While I can move quickly alone, we can achieve much more as a team.
        </li>
        <li>
          <strong class="text-medium"
            >I prioritize honest and pragmatic communication.</strong
          > No ego, no assumptions. My words will always be well-intentioned, even
          if direct.
        </li>
      </ul>
    </div>
  </article>
</section>

<style lang="scss">
  .about_img {
    display: none;
    @media screen and (min-width: 800px) {
      display: block;
      grid-column: 1/2;

      img {
        width: 100%;
        margin-left: calc(-2 * var(--unit));
      }
    }
  }

  .section {
    grid-column: 1/4;
    padding-top: var(--body-gap);
    padding-bottom: var(--body-gap);
    position: relative;
  }

  article {
    grid-column: 2/4;
  }

  .text-large {
    margin-bottom: calc(var(--unit) * 2);
  }

  .section:before,
  .text-large:before {
    content: "";
    display: block;

    position: sticky;

    top: calc(var(--unit) * 1);
    margin-bottom: calc(var(--unit) * -1.8);
    margin-left: calc(var(--unit) * -1.2);
    width: calc(var(--unit) * 2);
    height: calc(var(--unit) * 2);

    background-image: url("/assets/semicol.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .section:before {
    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  .text-large:before {
    display: none;

    @media screen and (min-width: 800px) {
      position: absolute;
      display: block;
      background-position: right center;

      margin: 0;

      top: calc(var(--unit) * 0.2);
      left: calc(var(--unit) * -3);
      width: calc(var(--unit) * 2);
      height: calc(var(--unit) * 2);
    }
  }

  ul {
    padding-left: 1em;
  }

  li {
    list-style: bullet;
    position: relative;
    padding-bottom: 1em;

    &:before {
      content: "-";
      position: absolute;
      left: -1em;
    }
  }
</style>
