<section class="section" id="about-me">
  <article>
    <h2 class="type_main">About me</h2>

    <div class="type_content"></div>
  </article>
</section>

<style lang="scss">
  .section {
    grid-column: 2/4;
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .type_main {
    margin-bottom: calc(var(--unit) * 2);
  }

  .section:before,
  .type_main:before {
    content: "";
    display: block;

    position: sticky;

    top: calc(var(--unit) * 1);
    margin-bottom: calc(var(--unit) * -1.8);
    margin-left: calc(var(--unit) * -1.2);
    width: calc(var(--unit) * 2);
    height: calc(var(--unit) * 2);

    background-image: url("/assets/semicol.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .section:before {
    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  .type_main:before {
    display: none;

    @media screen and (min-width: 800px) {
      position: absolute;
      display: block;
      background-position: right center;

      margin: 0;

      top: calc(var(--unit) * 0.2);
      left: calc(var(--unit) * -3);
      width: calc(var(--unit) * 2);
      height: calc(var(--unit) * 2);
    }
  }
</style>
