<section class="section grid" id="about-me">
  <div class="about_img">
    <img src="/images/cover.jpg" />
  </div>
  <article>
    <h2 class="text-large">About me</h2>

    <div class="text-content color-1">
      <p class="text-base">
        <span class="text-medium color-0">
          A Brazilian living in Porto, Portugal.
        </span>
        I'm a front-end developer with a design background and more than ten years
        of experience creating digital products. Over the past few years, I've been
        enjoying building React web applications and empowering developers through
        my contributions to open-source projects.
      </p>

      <ul>
        <li>
          <p>
            <span class="text-medium color-0"
              >I see code as a tool for design.</span
            >

            What I build is meant to solve real users&#39; problems, and I
            strive for the best solution and the most polished experience.
            I&#39;m a coworker on the design team.
          </p>
        </li>
        <li>
          <p>
            <span class="text-medium color-0"
              >I&#39;m obsessed with the problem.</span
            > I like engaging in activities that require me to dive deep into the
            uncertainty, from small details to big problems.
          </p>
        </li>
        <li>
          <p>
            <span class="text-medium color-0"
              >I prioritize honest and pragmatic communication.</span
            > No ego, no assumptions. My words will always be well-intentioned, even
            if direct.
          </p>
        </li>
        <li>
          <p>
            <span class="text-medium color-0">I&#39;m a self-starter.</span> I can
            find my way through the uncertainty, set priorities, share learning,
            stay focused and make plans.
          </p>
        </li>
        <li>
          <p>
            <span class="text-medium color-0"
              >I have an outstanding curiosity.</span
            > I'm always looking to learn more and understand the exotic, the undiscovered,
            or the unmapped.
          </p>
        </li>
        <li>
          <p>
            <span class="text-medium color-0"
              >I&#39;m a fast-paced problem-solver.</span
            > In challenging moments, I can wear as many hats as needed. There are
            moments when the job needs to get done.
          </p>
        </li>

        <li>
          <p>
            <span class="text-medium color-0"
              >I want you to be involved in my creation process</span
            >. While I can move quickly alone, we can achieve much more as a
            team.
          </p>
        </li>
      </ul>
    </div>
  </article>
</section>

<style lang="scss">
  .about_img {
    display: none;
    @media screen and (min-width: 800px) {
      display: block;
      grid-column: 1/2;

      img {
        width: 100%;
        margin-left: calc(-2 * var(--unit));
        border-radius: var(--radius);
      }
    }
  }

  .section {
    grid-column: 1/4;
    padding-top: var(--body-gap);
    padding-bottom: var(--body-gap);
    position: relative;

    text-wrap: balance;
  }

  article {
    grid-column: 2/4;
  }

  .text-large {
    margin-bottom: calc(var(--unit) * 2);
  }

  .section:before,
  .text-large:before {
    content: "";
    display: block;

    position: sticky;

    top: calc(var(--unit) * 1);
    margin-bottom: calc(var(--unit) * -1.8);
    margin-left: calc(var(--unit) * -1.2);
    width: calc(var(--unit) * 2);
    height: calc(var(--unit) * 2);

    background-image: url("/assets/semicol.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .section:before {
    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  .text-large:before {
    display: none;

    @media screen and (min-width: 800px) {
      position: absolute;
      display: block;
      background-position: right center;

      margin: 0;

      top: calc(var(--unit) * 0.2);
      left: calc(var(--unit) * -3);
      width: calc(var(--unit) * 2);
      height: calc(var(--unit) * 2);
    }
  }

  ul {
    padding-left: 1em;
  }

  li {
    list-style: bullet;
    position: relative;

    &:before {
      content: "-";
      position: absolute;
      left: -0.9em;
      top: 0em;
    }
  }
</style>
