---
const { title } = Astro.props;
---

<section class={`section grid ${title.toLowerCase()}`} id={title.toLowerCase()}>
  <div>
    <h2 class={`text-large ${title.toLowerCase()} sticky`}>
      {title}
    </h2>
  </div>

  <div class="section-content">
    <slot />
  </div>
</section>

<style lang="scss">
  .section {
    grid-column: 1/4;
    padding-bottom: var(--body-gap);
    padding-top: var(--body-gap);
    position: relative;

    &:first-of-type {
      margin-top: calc(var(--body-gap) * -1);
    }
  }

  .text-large,
  .section {
    &:before {
      content: "";
      position: sticky;
      display: block;

      top: calc(var(--unit) * 1);
      margin-bottom: calc(var(--unit) * -1.6);
      margin-left: calc(var(--unit) * -1.8);
      width: calc(var(--unit) * 1.5);
      height: calc(var(--unit) * 1.5);

      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
    }

    &.writing:before {
      background-image: url("/assets/paragraph.png");
    }

    &.experiments:before {
      background-image: url("/assets/diferent.png");
    }
    &.projects:before {
      background-image: url("/assets/section.png");
    }

    &.garden:before {
      background-image: url("/assets/garden.png");
    }
  }

  @media screen and (min-width: 800px) {
    .section:before {
      display: none;
    }
  }

  .text-large {
    margin-bottom: calc(var(--unit) * 2);

    &:before {
      display: none;

      @media screen and (min-width: 800px) {
        display: block;
        margin: 0;
        position: absolute;
        background-position: right center;

        top: calc(var(--unit) * 0.2);
        left: calc(var(--unit) * -2.5);
        width: calc(var(--unit) * 1.6);
        height: calc(var(--unit) * 1.6);
      }
    }
  }

  @media screen and (min-width: 800px) {
    .text-large {
      grid-column: 1/2;
      margin: 0;
      margin-top: calc(var(--unit) * -0.5);

      &.sticky {
        position: sticky;
        top: calc(var(--unit) * 2);
      }
    }
  }

  .section-content {
    position: relative;
    grid-column: 2/4;
  }
</style>
