---
const { title } = Astro.props;
---

<section class={`section grid ${title.toLowerCase()}`} id={title.toLowerCase()}>
  <div class="section-content">
    <slot />
  </div>
</section>

<style lang="scss">
  .section {
    grid-column: 2/4;
    padding-bottom: var(--body-gap);
    padding-top: var(--body-gap);
    position: relative;

    &:first-of-type {
      margin-top: calc(var(--body-gap) * -1);
    }
  }

  .section {
    &:before {
      content: "";
      position: sticky;
      display: block;

      top: calc(var(--unit) * 1);
      margin-bottom: calc(var(--unit) * -1.6);
      margin-left: calc(var(--unit) * -1.8);
      width: calc(var(--unit) * 1.5);
      height: calc(var(--unit) * 1.5);

      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &.writing:before {
      background-image: url("/assets/paragraph.png");
    }

    &.experiments:before {
      background-image: url("/assets/diferent.png");
    }

    &.projects:before {
      background-image: url("/assets/section.png");
    }

    &.garden:before {
      background-image: url("/assets/garden.png");
    }
  }

  .section-content {
    position: relative;
    grid-column: 1/4;
  }
</style>
